/* COLOUR PALETTE */
/* #FF9F1C */
/* #FFBF69 */
/* #FFFFFF */
/* #CBF3F0 */
/* #2EC4B6 */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&family=Halant&family=Iceberg&display=swap');

.App {
  text-align: center;
  background-color: #CBF3F0;
}

.header {
  background-color: #2EC4B6;
}

h1 {
  margin: 0;
  padding: 5rem 5rem 0 5rem;
  color: #FFFFFF;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  list-style: none;
}






